project/boot
project/build/target
tags
ccf/target
ccf/lib_managed
app/target
app/lib_managed
perftest/target
perftest/lib_managed
project/plugins/lib_managed/
project/plugins/project/
project/plugins/src_managed/
project/plugins/target/
target/
*.iml
*.ipr
*.iws
**/*.iml
**/*.ipr
**/*.iws
**/.classpath
**/.project
**/.scala_dependencies
