body { font-family: Georgia, times, serif; font-size: 12px; }
h1 { font-size: 14px; border-bottom: 1px dashed #666; }
h2 { font-size: 16px; }
h3 { font-size: 13px; margin-left: 10px; }
p { margin-left: 10px; width: 500px; }
p.copyright { font-size: 9px; color: #666; margin-left: 0px; }
