<html>
    <head>
        <title>CCF - {{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="ccf.css">
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-18617364-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    <body>
        <h1>CCF - Concurrency Control Framework for Scala</h1>
        <ul id="menu">
            <li><a href="index.html#whatisccf">What is CCF?</a></li>
            <li><a href="index.html#download">Download</a></li>
            <li><a href="contributing.html">Contributing</a></li>
            <li><a href="documentation.html">Documentation</a></li>
        </ul>
        <div id="note"><b>Note</b>: CCF is no longer actively developed</div>
        <div id="content">
            {{ content }}
        </div>
        <p class="copyright">
        Copyright &copy; 2010.
        </p>
    </body>
</html>
